/*Applicatin-wide styles*/
/*Navbar styles*/
.navbar{
  background-color: #AFA6A1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
}
.nav-brand{
  color: white;
  font-size: 40px;
}
.nav-brand img{
  height: 4rem;
  padding-right: 1.3rem;
  border-radius: 50%;
}
.hrule{
  width: 100%;
  border-top: .2rem solid #AFA6A1;
}
