<div class="row">
  <div class="col-2">
  <button type="button" class="btn btn-danger btn-lg">African</button><br>
  <button type="button" class="btn btn-success btn-lg">Worldwide</button>
  </div>
  <div class="col-10">
    <ul>
    <div *ngFor='let dispQuote of misemo'>
   <li><i class="fas fa-quote-left"></i>{{dispQuote.quote}}<i class="fas fa-quote-right" id="f-right"></i></li>
   <app-quotes-details [dispQuote]='dispQuote'></app-quotes-details>
   <hr class="quote-rule">
   </div>
  </ul>
  </div>
  </div>
