<div class="row">
  <div class="col-3 back">
  <button type="button" class="btn btn-danger btn-lg sidebtn">African</button><br>
  <br>
  <h4>Feeling inpired? Share something</h4>
   <div class="container-fluid">
     <div class="row">
       <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
     </div>
   </div>

  </div>
  <div class="col-9">
    <ul>
    <div *ngFor='let dispQuote of misemo; let i=index'>
   <li><i class="fas fa-quote-left"></i>{{dispQuote.quote}}<i class="fas fa-quote-right" id="f-right"></i></li>
   <app-quotes-details [dispQuote]='dispQuote' (isDelete)="quoteDelete($event,i)"></app-quotes-details>
   <button type="button" class="btn" (click)=upvotes(i)><i class="fas fa-thumbs-up"></i>: {{dispQuote.upvotes}}</button>
   <button type="button" class="btn" (click)=downvotes(i)><i class="fas fa-thumbs-down"></i>: {{dispQuote.downvotes}}</button>
   <p>Submitted by: {{dispQuote.contName}}</p>
   <hr class="quote-rule">
   </div>
  </ul>
  </div>
  </div>
