<div class="row">
  <div class="col-2">
  <button type="button" class="btn btn-danger btn-lg sidebtn">African</button><br>
  <button type="button" class="btn btn-success btn-lg sidebtn">Worldwide</button>
  </div>
  <div class="col-10">
    <ul>
    <div *ngFor='let dispQuote of misemo; let i=index'>
   <li><i class="fas fa-quote-left"></i>{{dispQuote.quote}}<i class="fas fa-quote-right" id="f-right"></i></li>
   <app-quotes-details [dispQuote]='dispQuote'></app-quotes-details>
   <button type="button" class="btn" (click)=upvotes(i)><i class="fas fa-thumbs-up"></i>: {{dispQuote.upvotes}}</button>
   <button type="button" class="btn" (click)=downvotes(i)><i class="fas fa-thumbs-down"></i>: {{dispQuote.downvotes}}</button>
   <hr class="quote-rule">
   </div>
  </ul>
  </div>
  </div>
